/* ContactPage.css */

.fancy-contact-container {
  padding: 200px;
  background-color: #51b9e6;
  border-radius: 15px;
  text-align: center;
  overflow: hidden;
  position: relative;
}

.fancy-heading {
  color: #fff;
  font-family: 'Arial', sans-serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
  animation: fadeInUp 1s ease;
}

.sub-heading {
  color: #fff;
  font-size: 18px;
  opacity: 0.8;
  margin-top: 10px;
}

.icon {
  color: #0817e8;
  font-size: 30px;
  margin-right: 8px;
}

.email-link,
.email-link:hover,
.email-link:visited {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.email-link:hover {
  text-decoration: underline;
}

/* Add animations */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Additional styling for phone number */
.phone-number {
  font-size: 24px;
  color: #fff;
  margin-top: 10px;
  animation: fadeInUp 1s ease;
}

/* Hover effect for phone number */
.phone-number:hover {
  color: #2116c4;
}
