.projects-container {
  background-color: #3498db;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  font-size: 48px;
  color: aliceblue;
  margin-bottom: 20px;
  margin-top: 20px;
}

.project-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.project-card {
  background-color: white;
  border: 1px solid gray;
  border-radius: 8px;
  padding: 20px;
  margin: 20px;
  max-width: 450px;
  min-height: 100px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Modified box-shadow to have a transparent white color */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Added transition for smooth scaling and box-shadow changes */
}

.project-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.project-card h2 {
  font-size: 25px;
  color: black;
  margin-bottom: 10px;
}

.technologies {
  color: blue;
  font-weight: bold111111;
  margin-bottom: 10px;
}
